:root {
  --color-red: hsl(0, 100%, 74%);
  --color-green: hsl(154, 59%, 51%);
  --color-green-dark: hsla(154, 80%, 39%, 0.89);
  --color-green-darkest: hsla(152, 100%, 20%, 0.712);
  --color-accent-blue: hsl(248, 32%, 49%);
  --color-accent-blue-dark: hsla(248, 52%, 46%, 0.911);
  --color-dark-blue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);
  --color-placeholder-blue: hsla(244, 7%, 42%, 0.767); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 100%; }

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--color-red);
  background-image: url(/images/bg-intro-desktop.png); }

.heading__title {
  font-size: 3.4rem;
  color: #fff;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 0.05rem; }
  @media only screen and (min-width: 1500px) {
    .heading__title {
      max-width: 80%;
      font-size: 4rem;
      line-height: 4.5rem; } }
  @media only screen and (max-width: 870px) {
    .heading__title {
      text-align: center; } }
  @media only screen and (max-width: 510px) {
    .heading__title {
      font-size: 2rem;
      line-height: 2.5rem; } }
  @media only screen and (max-width: 470px) {
    .heading__title {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 410px) {
    .heading__title {
      font-size: 1.85rem;
      line-height: 2rem; } }

.heading__caption {
  font-size: 1rem;
  margin-top: 2rem;
  max-width: 85%;
  color: #fff;
  font-weight: 400;
  line-height: 1.7; }
  @media only screen and (min-width: 1500px) {
    .heading__caption {
      max-width: 70%;
      font-size: 1.1rem; } }
  @media only screen and (max-width: 870px) {
    .heading__caption {
      max-width: 100%;
      text-align: center;
      margin-bottom: 3rem; } }
  @media only screen and (max-width: 410px) {
    .heading__caption {
      font-size: 1rem;
      line-height: 1.6rem;
      margin: 3rem 0;
      box-sizing: content-box; } }

@media only screen and (max-width: 410px) {
  .cta {
    margin: 0 -3.75rem; } }

.cta__callout {
  background-color: var(--color-accent-blue);
  color: #fff;
  font-weight: 400;
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  box-shadow: 0 0.45rem 0 rgba(0, 0, 0, 0.12);
  transition: all 0.1s linear;
  cursor: pointer; }
  @media only screen and (max-width: 1300px) {
    .cta__callout {
      padding: 1rem 0.15rem; } }
  @media only screen and (max-width: 1080px) {
    .cta__callout {
      padding: 1rem 1.54rem; } }
  @media only screen and (max-width: 470px) {
    .cta__callout {
      padding: 0.6rem -0.1rem;
      width: 18rem; } }
  @media only screen and (max-width: 410px) {
    .cta__callout {
      margin: 0 0;
      box-sizing: content-box; } }
  @media only screen and (max-width: 350px) {
    .cta__callout {
      box-sizing: border-box; } }
  .cta__callout p {
    text-align: center;
    padding: 0 4rem; }
    @media only screen and (max-width: 1080px) {
      .cta__callout p {
        font-size: 0.8rem;
        padding: 0 3.8rem; } }
    @media only screen and (max-width: 470px) {
      .cta__callout p {
        padding: 0; } }
    @media only screen and (max-width: 410px) {
      .cta__callout p {
        padding: 0 3.5rem;
        font-size: 0.9rem; } }
  .cta__callout span {
    font-weight: 600; }
  .cta__callout:hover {
    background-color: var(--color-accent-blue-dark); }
  .cta__callout:active {
    transform: translateY(1px) scale(0.995);
    box-shadow: 0 0.12rem 0 rgba(0, 0, 0, 0.12); }

.cta__form {
  box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 1.2rem 2.2rem;
  border-radius: 5px;
  margin-top: 2rem; }
  .cta__form-input {
    display: flex;
    flex-direction: column; }
    .cta__form-input--value {
      outline: none;
      border: 1px solid var(--color-grayish-blue);
      padding-top: 1.1rem;
      padding-bottom: 0.8rem;
      border-radius: 5px;
      margin-top: 0.8rem; }
    .cta__form-input input {
      width: 100%;
      color: var(--color-dark-blue);
      padding-left: 1.8rem;
      font-weight: 600;
      font-size: 0.9rem; }
      .cta__form-input input::placeholder {
        color: var(--color-placeholder-blue);
        font-weight: 600;
        font-size: 0.9rem; }
      .cta__form-input input:active, .cta__form-input input:focus {
        border: 1px solid var(--color-dark-blue); }
    .cta__form-input button,
    .cta__form-input label {
      border: none; }
    .cta__form-input--btn {
      background-color: var(--color-green);
      color: #fff;
      font-weight: 600;
      font-size: 0.9rem;
      letter-spacing: 0.05rem;
      padding: 1.1rem 8rem;
      box-shadow: 0 0.45rem 0 var(--color-green-darkest);
      transition: all 0.05s ease;
      cursor: pointer;
      text-transform: uppercase; }
      @media only screen and (max-width: 1300px) {
        .cta__form-input--btn {
          padding: 1rem 2rem; } }
      .cta__form-input--btn:hover {
        background-color: var(--color-green-dark); }
      .cta__form-input--btn:active {
        transform: translateY(2px);
        box-shadow: 0 0.15rem 0 var(--color-green-darkest); }
    .cta__form-input label {
      font-size: 0.7rem;
      align-self: center;
      margin-top: -0.09px;
      color: var(--color-grayish-blue);
      font-weight: 600;
      text-align: center; }
      .cta__form-input label span {
        color: var(--color-red);
        font-weight: 700; }
      @media only screen and (max-width: 510px) {
        .cta__form-input label {
          margin-top: 1rem; } }

.input__box {
  position: relative; }

.required__text {
  font-size: 0.7rem;
  font-style: italic;
  color: var(--color-red);
  text-align: right;
  font-weight: 600;
  position: relative;
  top: 0.2rem;
  transition: all 0.5s ease;
  height: 1rem; }

.required__icon {
  position: absolute;
  right: 15px;
  top: 25px;
  height: 1.5rem;
  width: 12%;
  background-image: url(../images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: center; }

.attribution {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 500;
  text-transform: lowercase; }
  .attribution span {
    display: block;
    text-align: right;
    font-weight: 600; }
    @media only screen and (max-width: 870px) {
      .attribution span {
        text-align: center; } }

.attribution a {
  text-decoration: none;
  color: var(--color-dark-blue); }

.red-box {
  border: 2px solid var(--color-red); }

.container {
  display: flex;
  padding: 6rem 9rem;
  min-height: 100vh;
  justify-content: center; }
  @media only screen and (max-width: 870px) {
    .container {
      flex-direction: column; } }
  @media only screen and (max-width: 1300px) {
    .container {
      padding: 5rem 5rem; } }
  @media only screen and (max-width: 470px) and (min-width: 410px) {
    .container {
      padding: 5rem 2rem; } }

.heading {
  display: flex;
  height: inherit;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%; }
  @media only screen and (max-width: 410px) {
    .heading {
      width: 20rem;
      align-self: center; } }

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%; }

.footer {
  margin-top: 2rem;
  width: 90%; }
  @media only screen and (max-width: 1300px) and (min-width: 1080px) {
    .footer {
      width: 80%; } }
  @media only screen and (min-width: 1500px) {
    .footer {
      width: 80%; } }
