*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 100%;    // 16px
}

body {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: var(--color-red);
    background-image: url(/images/bg-intro-desktop.png);
}