.container {
    display: flex;
    padding: 6rem 9rem;
    min-height: 100vh;
    justify-content: center;

    @media only screen and (max-width: $bp-normal) {
        flex-direction: column;
    }

    @media only screen and (max-width: $bp-large) {
        padding: 5rem 5rem;
    }

    @media only screen and (max-width: $bp-smallest) and (min-width: $bp-extra-smallest) {
        padding: 5rem 2rem;
    }
}

.heading {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;

    @media only screen and (max-width: $bp-extra-smallest) {
        width: 20rem;
        align-self: center;
    }
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.footer {
    margin-top: 2rem;
    width: 90%;

    @media only screen and (max-width: $bp-large) and (min-width: $bp-big) {
        width: 80%;
    }

    @media only screen and (min-width: $bp-largest) {
        width: 80%;
    }
}